#newDiv {
  color: rgb(64, 72, 76);
  position: fixed;
  bottom: 20px;
  right: 3px;
  padding: 20px;
  width: 200px;
  height: 90px;
  border-radius: 10px;
  border: 1px solid #999;
  background: #fff;
  box-shadow: 3px 7px 4px rgba(0, 0, 0, .2);
  text-align: center;
  z-index: 9999;
}
#wrapper h3{
  font-size: 14px;
  margin-bottom: 10px;
}

#confirm{
  padding: 4px 15px;
  background-color: #2656c9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer
}

#teamDiv{
  color: rgb(64, 72, 76);
  position: fixed;
  right: 0;
  left: 0;
  top: 30px;
  margin: auto;
  padding: 20px;
  width: 200px;
  height: 90px;
  border-radius: 10px;
  background-color: rgb(216, 237, 236);
  text-align: center;
  z-index: 9999;
}
